.tree,
.tree__not__shake {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 1rem -5rem 0;

  .apples {
    .apples__item {
      position: absolute;
    }

    &__transition-exit {
      opacity: 1;

      &-active {
        animation-name: fadeExit;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }
}

.tree {
  animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@for $i from 1 through 10 {
  .apples__transition-exit-active:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.5}s;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.125rem, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0.25rem, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-0.313rem, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(0.313rem, 0, 0);
  }
}

@keyframes fadeExit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(35rem);
  }
}
