@import './globals/';
@import './components';
@import './elements/';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-default;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;

  &.summer,
  &.autumn {
    opacity: 0.5;
    transition: all 200ms ease-in;
    animation: welcome 200ms ease-in-out forwards;
  }

  &.summer {
    background-image: url(../assets/images/bg-summer.png);
  }

  &.autumn {
    background-image: url(../assets/images/bg-autumn.png);
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes welcome {
  0% {
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.8);
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
