.button {
  padding: 0.5rem 1rem;
  border: none;
  background: $color-white;
  color: $color-black;
  border-radius: $radius-sm;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  width: 8rem;
  opacity: 0;
  animation: buttonFadeIn 0.5s 1.8s ease-in forwards;

  &__shake,
  &__shake--disabled,
  &__reset {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: ($font-size-default + 0.1rem);
    margin: 0 0.5rem;
  }

  &__shake {
    background-color: $bg-button-primary;
    color: $color-white;

    &--disabled {
      background-color: $bg-button-disabled !important;
      box-shadow: -1px 1px 8px 7px rgb(74 61 61 / 40%);
      color: $color-white;
      width: unset;
    }
  }

  &__reset {
    font-weight: $font-bold;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  img {
    width: 16px;
    margin-right: 0.5rem;
  }
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
